# Python
*.py[cod]
__pycache__/
*.pyo
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
# Excluded SQLite database files
# db.sqlite3
# db.sqlite3-journal
*/migrations/*

# Environment files
.env
*.env

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Celery and Redis
celerybeat-schedule
celerybeat.pid
*.celery
celery_results/
# Excluded Redis dump file
dump.rdb

# Static and media files
staticfiles/
media/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Test and coverage reports
htmlcov/
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
